body {
  background: #C2C4C6;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
}

.separator {
  width: 30%;
}

.title {
  margin-top: 100px;
  margin-bottom: 10px;
  text-align: center;
}

.school {
  color: #1B1B25;
  font-size: 2.5em;
  text-align: left;
}
.summary {
    font-size: 2.5em;
    text-transform: uppercase;
    position: relative;
    background-color: #1B1B25;
    color:#fff;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    width:100%;
    z-index: 1;
    height: 100px;
    font-family: Garamond;
    text-indent: 15px;
}



h2 {font-size: 1.2em;
position: relative;
background-color: #1B1B25;
color:#fff;
font-weight: 100;
margin-top: 10px;
margin-bottom: 10px;
margin-right: auto;
margin-left: auto;
width:100%;
z-index: 1;
height: 100px;
font-family: Georgia;
}

  p {
    font-family: Georgia;
    font-size: 1em;
    font-weight: 100px;
    color: #1B1B25;
  }

  .organization {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #1B1B25;
    font-size: 2em;
    width: auto;
  }

  .container1 {
    font-size: 2.1em;
    text-align: center;
  }

.boxed {
  width: 1100px;
  border: 8px solid white;
  padding: 50px;
  margin: 20px;
  text-align: left;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}


.nav-link {
  color:#1B1B25;
}

.Role {
  font-size: 1.7em;
}

.date {
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
}


.contact {
  text-indent: 30px;
  color:#1B1B25;
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto
  margin-right:auto;
  text-align: center:
}


a {
  color:#1B1B25;
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center:

}
