body {
  background: #C2C4C6;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
}

.separator {
  width: 30%;
}

.title {
  margin-top: 100px;
  margin-bottom: 10px;
  text-align: center;
}

.summary {
    font-size: 2.5em;
    text-transform: uppercase;
    position: relative;
    background-color: #1B1B25;
    color:#fff;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    width:100%;
    z-index: 1;
    height: 100px;
    font-family: Garamond;
}



h2 {font-size: 1.2em;
position: relative;
background-color: #1B1B25;
color:#fff;
font-weight: 100;
margin-top: 10px;
margin-bottom: 10px;
margin-right: auto;
margin-left: auto;
width:100%;
z-index: 1;
height: 100px;
font-family: Georgia;
}

  p {
    font-family: Georgia;
    font-size: 1em;
    font-weight: 100px;
    color: #1B1B25;
  }

  .organization {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #1B1B25;
    font-size: 2em;
    width: auto;
  }
