/*styles for my resume */

BODY {
  font-family: 'Open Sans', arial, sans-serif;
}


/* container element to center text on webpage */
#container {
  width:100%;
  max-width: 1200px;
  margin:0 auto;
  margin-bottom: 50px;
}

/* Name */
#name {
  font-size:3em;
  text-transform:uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width:60%;
  min-width:300px;
  margin:0 auto;
}

/*student title at top*/
#title {
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  font-size:1.5em;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}



/*section headings*/
.sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color:#fff;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
  width:70%;
  min-width: 300px;
}

/*job title headings*/
.jobtitle {
  font-size: 1.5em;
  font-weight: 600;
}

/*job organization headings*/
.organization {
  font-size: 1.5em;
  font-weight: 400;
}

/*dates headings*/
.date {
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  margin-top: 2px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

/* to organize list elements */
.menu {
  font-size: 1em;
  text-align: center;
  margin: 0;
}

.menu li {
  display:inline;
}

/* added to paragraph elements */
.description {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}

.degrees {
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.do {
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
